<div>
  <button (click)="showAllData()">All Data</button>
  <!-- <p *ngFor="let data of allData">{{data.name}} {{data.email}}  {{data.mobile}}</p> -->
  <button (click)="showNewForm()">New Form</button>
  <button (click)="deleteData()">Delete</button>
</div>

<!-- New Form Section -->
<div *ngIf="showForm">
  <form (ngSubmit)="onSubmit()" #dataForm="ngForm">
    <label for="name">Name:</label>
    <input type="text" id="name" required [(ngModel)]="formData.name" name="name"/><br><br>

    <label for="email">Email:</label>
    <input type="email" id="email" required [(ngModel)]="formData.email" name="email"/><br><br>

    <label for="phone">Phone:</label>
    <input type="tel" id="phone" required [(ngModel)]="formData.mobile" name="phone"/><br><br>

    <button type="submit">Submit</button>
  </form>
</div>
<div>
  <p-table *ngIf="showTable" [value]="allData" [tableStyle]="{'text-align':'center','padding':'20px','margin-top':'10px'}">
    <ng-template pTemplate="header">
     <tr>
      <th>Name</th>
      <th>E-Mail</th>
      <th>Phone</th>
     </tr>
    </ng-template>
  <ng-template pTemplate="body" let-data>
  <tr>
  <td>{{data.name}}</td>
  <td>{{data.email}}</td>
  <td>{{data.mobile}}</td>
 <td> <svg (click)="deleteFun(data)" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="red"><path d="M280-120q-33 0-56.5-23.5T200-200v-520h-40v-80h200v-40h240v40h200v80h-40v520q0 33-23.5 56.5T680-120H280Zm400-600H280v520h400v-520ZM360-280h80v-360h-80v360Zm160 0h80v-360h-80v360ZM280-720v520-520Z"/></svg></td>
</tr>
  </ng-template>
  </p-table>
  
</div>
<router-outlet></router-outlet>
